{{>navbar_user_consumer}}
<label>
    <span><p>Username - {{user.username}}</p></span>
    <span><p>Email - {{user.email}}</p></span>
</label> 
<form action="/consumer/profile/logout" method="POST" >
    <button type="submit" class="btn btn-dark">Logout</button>
</form>
</br>
<p>
    <a href="/consumer/delete/{{user.id}}"><button type="submit" class="btn btn-danger">Delete user</button></a>
 </p>
